.navbar {
    border-bottom: solid 1px #dddd;
}

.navbar_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    position: relative;
}

.nav_logo_img {
    height: 5rem;
    padding: 0rem .8rem;
    margin-left: 1rem; 
}

.navbar_main a {
    text-decoration: none;
    padding: .5rem;
    margin-right: .3rem;
    border-radius: 5px;
    color: var(--black);
    font-size: 18px;
    transition: .6s;
}

.navbar_main .links a:hover {
    color: var(--red);
}

.navbar_main a.active {
    color: var(--white);
    background-color: var(--red);
}

.navbar_main a.active:hover {
    color: var(--white);
    
}

.navbar_main .links a:last-child {
    margin-right: 4rem;
}


.menu {
    display: none;
}

.menu .menu_button {
    display: none;
    border: none;
    background-color: var(--white);
    cursor: pointer;
}

@media(max-width:768px) {
    .nav_logo_img {
        margin-left: 2rem;
    }

    .navbar_main a {
        padding: .6rem .5rem;
    }

    .navbar_main a:last-child {
        margin-right: 3rem;
    }    

    .menu {
        display: block;
    }

    .menu .menu_button {
        display: block;
        margin-right: 3rem;
    }

    .menu .menu_button svg {
        font-size: 2rem;
    }

    .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: var(--white);
        top: 100%;
        right: 0;
        width: 30%;
        transform: translateX(100%);
        opacity: 0;
        pointer-events: none;
        transition: transform 0.3s ease, opacity 0.3s ease;
        z-index: 10;
        border-radius: 0 0 0 5px;
    }

    .links.open {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
    }

    .navbar_main .links a:last-child {
        margin-right: 0;
    }
    
    .navbar_main .links a {
        margin-bottom: .5rem;
    }
}

@media(max-width:576px) {
    .nav_logo_img {
        margin-left: 1rem;
    }

    .navbar_main a:last-child {
        margin-right: 1rem;
    }    

    .links {
        width: 40%;
    }   
}

@media(max-width: 400px) {
    .links {
        width: 50%;
    }
}